/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
p{
  margin: 0;
}

.quizFormBox{
  position: relative;
}

.quizFormBtn{
  min-width: 140px;
  justify-content: center;
}

.quizFormBtn p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  color: #FFFFFF;

}

@media screen and (max-width: 996px) {

}
