.features {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding: 60px 20px 100px 20px;
}

.featureImg {
  height: 76px;
  width: 76px;
}

.overview{
  display: flex;
  max-width: 1000px;
  padding: 30px 40px;
  border-radius: 6px;
  border: 0.5px solid #CECECE;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 80px;
}

.overviewLogo{
  width: 92px;
  height: 92px;
}

.overviewLogo svg{
  width: 100%;
  height: 100%;
}

.overviewText{
  padding-left: 40px;
}

.overviewTextTitle{
  font-family: 'Inter';
  font-size: 32px;
  line-height: 1.2;
  color: var(--ifm-font-color-base);
}

.overviewTextDes{
  font-family: 'Inter';
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: var(--ifm-font-color-base);
}

.overviewLink{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  line-height: 1;
  box-sizing: border-box;
  background: #F6FFF3;
  border: 1px solid #37A411;
  border-radius: 4px;
}

.overviewLinkText{
  margin-right: 16px;
}

.featureTitle{
  position: relative;
  width: 100%;
  font-family: 'Inter';
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
  letter-spacing: 0.01em;
  color: #0F1110;
  max-width: 1000px;
}

.featureList{
  position: relative;
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 70px;
  gap: 20px;
}

.featureItem{
  position: relative;
  width: 320px;
  min-height: 295px;
  text-align: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  padding-top: 42px;
}

.featureItem:nth-child(1){
  background: #FAEFE4;
  border: 1px solid #F8E0B8;
}

.featureItem:nth-child(2){
  background: #F6FEE9;
  border: 1px solid #C7EDBA;
}

.featureItem:nth-child(3){
  background: #EEFFFE;
  border: 1px solid #C2EAF7;
}

.featureItemTitle{
  margin-top: 30px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 22px;
  line-height: 1.3;
  color: #0F1110;
  padding: 0 16px;
}

.featureItemDesc{
  margin-top: 20px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #1C1E21;
  padding: 0 16px;
}

.tutorialsLink{
  display: inline-flex;
  padding: 10px 20px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background: #308F0F;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;

  color: #FFFFFF;
}
.tutorialsLink:hover{
  color: #fff;
  background-color: #21610A;
  transition: all .3s ease;
}

.tutorialsLinkIcon{
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 16px;
  height: auto;
  margin-left: 12px;
}

@media (max-width: 996px){
  .overview{
    flex-direction: column;
    justify-content: center;
  }

  .overviewLogo{
    width: 120px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .overviewText{
    padding-left: 0;
  }

  .overviewTextTitle{
    font-size: 28px;
  }

  .featureList{
    flex-direction: column;
  }

  .featureItem{
    width: 100%;
  }
}