
.site-section-title  {
  position: relative;
  text-align: center;
  color: var(--custom-title-color);
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 72px;
}

.show-list {
  position: relative;
  display: flex;
  margin-top: 46px;
  margin-bottom: 64px;
}

.container {
  display: flex;
  align-items: center;
  height: 20vh;
  width: 80%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  /* background-color: var(--ifm-color-emphasis-100); */
}

.scroll-parent {
  position: relative;
  width: 200vw;
  height: 30rem;
  padding: 2rem 0;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
}

.scroll-element {
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0%;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* .scroll-element img {
  width: 15%;
} */


.primary {
  animation: primary 50s linear infinite;
}

/* .primary:hover {
  -webkit-animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  -o-animation-play-state: paused !important;
  animation-play-state: paused !important;
} */


@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}


.contri-list {
  display: flex;
  flex-wrap: wrap;
}

.contri-user {
  display: flex;
  flex-direction: column;
  /* width: 8vw; */
  height: auto;
  align-items: center;
  justify-content: center;
}


.contri-user-avatar {
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  overflow: hidden;
  transition: all 0.15s ease-in-out;
}


.ontri-user:hover {
  opacity: 0.8;
}

.contri-user-info {
  text-align: center;
  white-space: nowrap;
  margin: 14px 6px;
}

.contri-user-name {
  overflow: hidden;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 2;
  text-align: center;
  color: #5B5A62;
  max-width: 96px;
  text-overflow: ellipsis;
}

.background {
  padding: 20px 0;
}

.expand-text {
  position: relative;
  margin: auto auto;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;

  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.expand-text:hover {
  color: var(--ifm-footer-link-hover-color);
}

.expand {
  margin: 2% 10%;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}

.expand-all {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: auto;
  align-items: center;
  justify-content: center;
}

.learningCenterDesc{
  position: relative;
  font-size: 28px;
  line-height: 2;
  color: #718096;
  text-align: center;
  display: block;
  margin-top: 30px;
}


@media screen and (max-width: 996px) {

  .learningCenterDesc{
    font-size: 18px;
    line-height: 1.5;
    margin-top: 10px;
  }

  .contri-user-avatar {
    width: 45px;
    height: 45px;
  }
  .contri-user-name{
    font-size: 16px;
  }
}


@media (max-width: 480px) {
  .site-section-title{
    font-size: 30px;
  }

  .expand-text {
    font-size: 24px;
  }
}