/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
 p{
  margin: 0;
}

.learningCenterContent{
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 106px;
  margin-bottom: 170px;

  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 600;
}

.learningCenterTitle{
  font-size: 72px;
  line-height: 72px;
  text-align: center;
  color: var(--custom-title-color);
}

.learningCenterListBox{
  position: relative;
  width: 100%;
  margin-top: 28px;
}

.learningCenterListTitle{
  font-size: 48px;
  line-height: 64px;
  text-align: left;
  color: var(--custom-title-color);
}

.learningCenterList {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  margin-top: 56px;
}

.learningCenterItem{
  list-style: none;
  width: auto;
  text-align: center;
}

.learningCenterItem a{
  text-decoration: none;
}

.learningCenterListItemTitle{
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: var(--custom-title-color);
}

.learningCenterListItemDesc{
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #5B5A62;
}

.learningCenterImage {
  width: 322px;
  height: 155px;
  object-fit: cover;
}


/* .learningCenterItem a:hover,
.learningCenterItem a:hover{
  color: var(--ifm-link-hover-color) !improtant;
} */

@media screen and (max-width: 1600px) {
  
  .learningCenterList{
    flex-wrap: wrap;
  }
  .learningCenterItem{
    width: 33%;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1200px) {
  .learningCenterItem{
    width: 50%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 996px) {

  .learningCenterItem{
    width: 100%;
  }
  
  .learningCenterContent{
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .learningCenterList {
    flex-direction: column;
    margin-top: 28px;
  }
  .learningCenterItem {
    margin: 25px auto;
  }
  .learningCenterTitle{
    font-size: 36px;
    line-height: 1.5;
  }
  .learningCenterListTitle{
    font-size: 28px;
    line-height: 1.5;
    padding-left: 24px;
  }
  .learningCenterListItemTitle{
    font-size: 30px;
    line-height: 1.5;
  }
  .learningCenterListItemDesc{
    font-size: 18px;
    line-height: 1.5;
  }
  .learningCenterDesc{
    font-size: 20px;
    line-height: 1.5;
  }
}
