/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.modal {
    pointer-events: none;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-property: transform, opacity, visibility;
    overflow-y: hidden;
    overscroll-behavior: contain;
}

.modal_box {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 48px 20px;
    gap: 40px;
    isolation: isolate;
    max-height: calc(100vh - 5em);
    max-width: 32rem;
    background: #FFFFFF;
    border: 0.5px solid #CECECE;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.modal_show {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
}

.modal_close_btn {
    position: absolute;
    padding: 10px;
    right: 10px;
    top: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
}