/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
p{
  margin: 0;
}

.quizProgressBox{
  position: relative;
  margin: 30px auto;
}

.quizProgressTime, .quizProgressScore{
  position: relative;
  width: auto;
  min-width: 108px;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  color: var(--ifm-breadcrumb-color-active);
  padding: 6px 14px;
}

.quizProgressTime {
  background: #eef2f7;
  margin-right: 16px;
}

.quizProgressScore{
  background: #c8f8d5;
}

@media screen and (max-width: 996px) {

  .quizProgressTime {
    margin-bottom: 15px;
  }
}
