/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
p{
  margin: 0;
}

.quizProgressBox{
  position: relative;
  margin: 30px auto;
}

.quizProgressTime, .quizProgressScore{
  position: relative;
  width: auto;
  min-width: 108px;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  padding: 8px 16px;
}

.quizProgressTime {
  background: #5594CD;
  margin-right: 16px;
}

.quizProgressScore{
  background: #FF8181;
}

@media screen and (max-width: 996px) {

  .quizProgressTime {
    margin-bottom: 15px;
  }
}
